@import "tailwindcss";

* {
  outline: none;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}